<?xml version="1.0"?>
<launch>
    <!-- Запуск детектора с пользовательским профилем -->
    <include file="$(find clover)/launch/detector_profile.launch">
        <arg name="enabled" value="true"/>
        <arg name="node_name" value="detector_tflite"/>
        <arg name="config_path" value="$(find clover_yolo)/config/profiles/team_nto2026.yaml"/>
    </include>
    
    <!-- Основной узел сопровождения -->
    <node name="target_tracker" pkg="your_package_name" type="target_tracker.py" output="screen">
        <param name="target_distance" value="1.5"/>
        <param name="working_height" value="1.5"/>
        <param name="tracking_time" value="20"/>
        <param name="kp_distance" value="0.5"/>
        <param name="kp_yaw" value="1.5"/>
    </node>
    
    <!-- Визуализация отладочной информации -->
    <node name="image_view" pkg="image_view" type="image_view">
        <remap from="image" to="/vision/debug_image"/>
        <param name="autosize" value="true"/>
    </node>
</launch>